.documentWrapper {
  padding: 30px;
  height: calc(100vh - 116px);
}

.articleWrapper {
  /* border: 1px solid #ccc;
  border-radius: 10px; */
  min-height: 100%;
  height: fit-content;
  display: flex;
  gap: 30px;
}

.articleText {
  width: 100%;
  padding: 30px;
}

.articleText h1 {
  color: #e55b0b;
  font-size: 24px;
}

hr {
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
}

.articleText p {
  color: #fff;
}

.articleInfo {
  width: fit-content;
  min-width: 300px;
  padding: 30px;
  border-left: 1px solid #e55b0b;
  display: flex;
  flex-direction: column;
}

.articleInfo h2 {
  color: #fff;
  font-size: 18px;
}
.articleInfo p {
  color: #969696;
  margin-bottom: 10px;
  font-size: 14px;
}
