.likedCardsWrapper {
  position: absolute;
  bottom: 0px;
  color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.likedCardsWrapper::-webkit-scrollbar {
  display: none;
}

.likedCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  max-width: 90%;
  height: 120px;
  gap: 20px;
  padding: 10px;
  background-color: white;
}

.likedCardText {
  color: black;
  width: 200px;
  height: 100px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

.likedCardText:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.likedCardText h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.likedCardText h3 {
  padding: 2px 4px;
  background-color: #e55b0b;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}

.likedCardText h4 {
  padding: 2px 4px;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.likedCardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
