.articleCardWrapper {
  width: calc(25vw - 35px);
  height: fit-content;
  border: 1px solid rgba(96, 96, 96, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.articleCardWrapper:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.articleCardWrapper h1 {
  font-size: 1.5rem;
  margin: 0;
}
